<div style="height: 100vh;" class="container ">
    <div class="row bg-success p-4">
        <h2 class="col-8 bg-secondary text-center m-auto p-5 border-bottom border-dark">Add a burger!</h2>
        <form class="col-12 m-2">
            <input id="newBurger" type="text" class="col-8 rounded-left" required><input type="submit" name="submit" id="addBurger" class="btn m-auto rounded-right btn-primary col-4">
        </form>
    </div>
    <div class="row h-100">
        <!-- left side of the screen -->
        <div id="burgerList" class="col-6 bg-info border">
            <h1 class="col-12 bg-warning border-bottom border-dark">Burgers to devour!</h1>

            {{#each burger.toEat}}
            <div class="row m-2 p-3 bg-secondary border border-dark rounded">
                <h5 class="col-7 m-auto"> {{this.burger_name}}</h5>
                <a href="#" data-name="{{this.burger_name}}" data-id="{{this.id}}" class="devour col-4 btn btn-danger">Devour!</a>
            </div>
            {{/each}}
        </div>
        <!-- right side of the screen-->
        <div class="col-6 bg-warning border" id="devouredList">
            <h1 class="col-12 bg-info border-bottom border-dark">Devoured Burgers!</h1>

            {{#each burger.eaten}}
            <div class="row m-2 p-3 bg-secondary border border-dark rounded">
                <h5 class="col-7 m-auto"> {{this.burger_name}}</h5>
            </div>
            {{/each}}

        </div>
    </div>
</div>
<script>
    $(".devour").click(function(e){
        e.preventDefault();
        console.log("hello")
        $("#devouredList").append($(this).parent().get());
        $.post("/update", {name: $(this).attr("data-name"), id: $(this).attr("data-id")});
        $(this).hide();
    });
  
  $("#addBurger").click(function(e){
      e.preventDefault();
      var newB = $("#newBurger").val().trim();
     if(newB.length){
          $.post("/add", {name: $("#newBurger").val().trim()}).then(function(data){
          console.log(data);
          var div = $("div").addClass("row m-2 p-3 bg-secondary border border-dark rounded");
          var h5 = $("h5").addClass("col-7 m-auto").text(newB);
          div.append(h5);
          $("#burgerList").append(div);
      });
      $("#newBurger").val("");
     }
     
  })
 
</script>